* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

html, body {
  width: 100vw;
  height: 100vh;
  font-family: 'Forum', cursive;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #430027;
  padding: 1em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

img {
  width: auto;
  height: 80%;
  aspect-ratio: 1;
  object-fit: cover;
}
/*
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));

  background-color: #880E4F;
  padding: 10px;
}

.main-item {
  height: 250px;
  background-color: #bc477b;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center; 
}
*/

.main-container {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

div.img img {max-width:100%;}

figure{
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  line-height: 0px;
  height: auto;
  width: 20%;
  text-align: center;
  border-radius:4px;
}	

div {
  line-height:30px;font-size:16px;
}


.likesContainer {
  width: 100%;
  margin: 0px;
}

form {
  background-color: #880E4F;
}