* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  max-width: 200px;
  width: auto;
  height: 200px;
  aspect-ratio: 1; /* will make width equal to height (500px container) */
  object-fit: cover;
}

.main-container {
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: auto auto auto; */
  background-color: #430027;
  padding: 10px;
}

.main-item {
  background-color: #832b5ea9;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.likesContainer {
  display: block;
}