* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
  
  html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Forum', cursive;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #430027;
    padding: 1em;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }


.photo-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.photo-card {
	display: inline-block;
	width: 90%;
    height: 350px;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.photo-card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.photo-card > img {
    width: auto;
    height: 80%;
    aspect-ratio: 1;
    object-fit: cover;
}

.likesContainer {
	display: inline-block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.likesContainer > p {
    display: inline;
	margin: 0.1em 0;
    font-weight: bolder;
}
